.google_logo {
    display: block;
    width: 272px;
    height: 92px;
    margin: auto;
}

.search {
    border: 1px solid #5f6368;
    display: block;
    margin: auto;
    border-radius: 20px; 
    height: 20px; 
}

.rechercheGoogle, .chance {
    display: inline-block;
}

.buttons {
    text-align: center;
}

li {
    display: inline;
    padding: 8px;
}

.menu_top {
    float: right;
}

.center_page {
    margin-top: 40vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

footer {
    position: absolute;
    bottom: 0;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: arial,sans-serif;
}

footer {
    background-color: #f2f2f2;
    display: block;
    width: 100%;
}
footer a {
    color: #5f6368;
}
.footerleft {
    float: left;
    padding: 0; 
    display: inline-block;
    color: #5f6368;

}

.footerright {
    float: right;
    display: inline-block;
    color: #5f6368;

}